app = "soup-notify"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[processes]
  app = "sh scripts/start_all.sh"

[env]
  LOG_LEVEL = "info"

[[services]]
  processes = ["app"]
  internal_port = 8000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
