# fly.toml app configuration file generated for soup-notify on 2026-02-01T13:09:36Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'soup-notify'
primary_region = 'sin'

[processes]
  app = "sh scripts/start_all.sh"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
[[services]]
  processes = ["app"]
  internal_port = 8000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
